* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: white;
    line-height: 1.6;
}

header {
    background: #00008b;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    padding: 8px 12px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #f7c948;
}

.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.video-overlay h1 {
    font-size: 6rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

footer {
    background: #00008b;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: relative;
}

@media (max-width: 563px) {
    .nav-links {
        flex-direction: row;
        gap: 10px;
    }

    .nav-links a {
        font-size: 1rem;
        padding: 8px 10px;
    }

    .video-overlay h1 {
        font-size: 4rem;
    }

    .video-overlay {
        top: 45%;
    }
}

@media (min-width: 564px) {
    .nav-links {
        gap: 20px;
    }

    .video-overlay h1 {
        font-size: 6rem;
    }
}

.image-banner {
    position: relative;
    width: 100%;
    height: 911px;
    overflow: hidden;
}

.food-banner-img, .attraction-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.image-overlay h1 {
    font-size: 6rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.food-items, .attractions {
    margin: 20px;
}

.food-item, .attraction-item {
    background-color: #00008b;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
}

.food-item h2, .attraction-item h2 {
    font-size: 2rem;
    color: #fff;
}

.food-item p, .attraction-item p {
    font-size: 1rem;
    color: #fff;
}

.food-img, .attraction-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
}